.lineup {
    display: flex;
}
.away-lineup { flex-direction: row-reverse;}
.pbh-container {
    background-color: #262626;
}
.line {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    img {
        width: 20%;
        border-radius: 100%;
    }
}
.defense-line { background-color: blue;}
.midfield-line {background-color: green;}
.attack-line {background-color: red;}